html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #40444b;
}
.sectionInput{
    height: 40px;
    background-color: #16171a;
    padding: 10px;
    display: flex;
    align-items: center;
}
.sectionInput__box{
    border: none;
    border-bottom: 2px solid #859097;
    color: #859097;
    background-color: #16171a;
    padding: 3px 5px;
    width: 240px;
}
.sectionInput__box:focus{
    outline: none;
}

#list{
    padding: 0;
    margin: 0 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#list .list__item {
    background: #2f3036;
    width: 190px;
    height: 306px;
    list-style-type: none;
    margin: 15px;
}
#list .list__item .list__photo{
    width: 150px;
    border-radius: 50%;
    margin: 20px;
}
#list .list__item .list__paragraph,
#list .list__item .list__telefone{
    text-align: center;
    color: #859097;
    font-size: 12px;
}